[Unit]
Description=Daily ERA5 Temperature Data Update Timer
Requires=geospatial-era5.service

[Timer]
OnCalendar=*-*-* 02:00:00
Persistent=true

[Install]
WantedBy=timers.target
